// for https://github.com/colymba/GridFieldBulkEditingTools
.bulkManagerOptions.form--no-dividers label.form-check-label input {
    margin-left: 3px;
}

.bulkManagerOptions.form--no-dividers label.form-check-label {
    display: block;
    padding-bottom: 35px;
}
