#Form_ItemEditForm_error {
    background-color: #cf3f00!important;
    color: white!important;
    border-color: #862901!important;
    a, a:link, a:visited, * {
        color: white!important;
    }
}


#Form_ItemEditForm_error.alert.alert-success,
#Form_ItemEditForm_error.alert.alert-good {
    background-color: #e9f6e9!important;
    border-color: #3fa142!important;
    color: #222!important;
    a:link, a:visited, * {
        color: #222!important;
    }
}


/**
 * field desciptions
 */

p.form__field-description.form-text {
    font-family: serif;
    font-size: 1rem;
    font-style: italic;
}

.form-group.field.htmleditor p.form__field-description.form-text,
.form-group.field.text p.form__field-description.form-text {
    text-align: right;
}

.form-group.field.numeric p.form__field-description.form-text {
    text-align: left;
}

/**
   * numeric field
   */
.field.numeric.text input {
    max-width: 12rem;
}


/**
   * date-time
   */
.field.text.datetime input {
    max-width: 16rem;
}

/**
   * checkbox set label
   */
.CompositeField .form-group.optionset.checkboxset>label {
    font-weight: bold;
    font-style: italic;
    color: #43536d;
}

/**
   * dropdown
   */
.form-group.field.dropdown {
    overflow: visible !important;
}


/**
   * field description
   */
.form__field-description,
.form__field-extra-label {
    display: block !important;
}
