@include lg-screen {
  .table.grid-field__table {
    thead {
      th {
        &.main.col-State {
          // width: 23rem !important;
          text-align: right !important;
        }
      }
    }
    tbody {
      td.gridfield-icon.draft,
      td.gridfield-icon.published {
        text-align: right !important;
        min-width: 7rem !important;
        &:hover {
          display: table-cell !important;
          position: relative;
          min-width: 22rem !important;
        }
        span {
          margin-right: 5px;
          &:before {
            float: right;
            margin-left: 1rem;
          }
        }
      }
    }
  }
}
