@include lg-screen {
  .table.grid-field__table {
    thead {
      th {
        &.main.col-State {
          // width: 23rem !important;
          text-align: right !important;
        }
      }
    }
    tbody {
      td.gridfield-icon.draft,
      td.gridfield-icon.published {
        // min-width: 7rem !important;
        // &:hover {
        text-align: right !important;
        right: 60px;
        span {
          margin-right: 5px;
          &:before {
            float: right;
            margin-left: 1rem;
          }
        }
        // }
      }
      td.gridfield-icon.published {
        span,
        span:before {
          color: var(--bs-success, green) !important;
        }
      }
    }
  }
}
