.cms-menu__list {
  > .link.children,
  > .current.children {
    position: relative;
    opacity: 0.95 !important;
    > a {
      border-top: 1px solid #004e7f55;
      &:hover {
        opacity: 1 !important;
        color: #fff !important;
        background-color: #004e7f55 !important;
        * {
          color: #fff !important;
        }
      }
      .menu__icon {
        display: none;
      }
      .text {
        margin-left: 0;
      }
      .toggle-children {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 70%;
        z-index: 2;
        width: 30%;
        &:hover {
          background-color: #004e7f22;
        }
      }
    }
    ul.group {
      margin-left: 0 !important;
      li {
        margin-left: 0 !important;
      }
      .current {
        a {
          font-weight: bold;
          color: var(--indigo, #6610f2) !important;
          .menu__icon {
            color: var(--indigo, #6610f2) !important;
          }
        }
      }
    }
    &.opened {
      background-color: #004e7f22;
    }
  }
  > .current > a {
    > .menu__icon {
      color: #fff !important;
    }
    .opened {
      .menu__icon {
        color: var(--indigo, #6610f2) !important;
      }
    }
  }
  > .current.children {
    color: #fff !important;
    background-color: #7472ce !important;
    > a {
      .text,
      .toggle-children {
        font-weight: bold;
        color: #fff !important;
      }
    }
  }
  ul.group {
    > .link {
      opacity: 0.95;
      &:hover {
        opacity: 1;
      }
    }
  }
}

.cms-menu .cms-panel-content {
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.cms-menu__list {
  &.collapsed {
    > .link.children,
    > .current.children {
      > a {
        .menu__icon {
          display: block;
        }
      }
    }
  }
}
