.cms-menu__list {
  > .link.children,
  > .current.children {
    &.opened {
      background-color: #004e7f;
      color: #fff;
      > a {
        .text,
        .toggle-children {
          font-weight: bold;
          color: #fff;
        }
      }
    }
    > a {
      background-color: #004e7f22;
      &:hover {
        color: #004e7f;
        * {
          color: #004e7f;
        }
      }
      .menu__icon {
        display: none;
      }
      .text {
        margin-left: 0;
      }
    }
    ul.group {
      margin-left: 0 !important;
      li {
        margin-left: 0 !important;
      }
    }
  }
}
