.linkfield-dialog {
  .btn.action {
    &::before {
      content: "O" !important;
    }
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    &:active {
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.5);
    }
  }
}
