.ss-loading-screen {
  background-color: yellow;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cms-loading-screen__logo {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="82.4" height="82.4" viewBox="0 0 82.4 82.4"><circle fill="%23fff" cx="41.2" cy="41.2" r="41.2"/><circle fill="%23f7cd55" cx="48.2" cy="41.2" r="15.8"/></svg>')
    center center no-repeat;
  background-size: contain;
  width: 120px;
  height: 120px;
  animation: spin 1.6s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cms-loading-screen__message {
  margin-top: 1rem;
  font-size: 1.2rem;
}
