.cms-content-view {
  form#Form_EditForm {
    .ui-tabs {
      .ui-tabs-nav {
        float: none;
        border-bottom: 1px solid var(--grey, #566b8d);
      }
    }
  }
}

:not(.pages-controller-cms-content) .cms-content-header.north {
  background-color: #fff;
  flex-direction: row-reverse;
  padding-left: 1rem;
  .breadcrumbs-wrapper {
    margin-right: 1.5rem;
  }
  .breadcrumbs-wrapper,
  .breadcrumbs-wrapper * {
    text-align: right;
  }
}

.toolbar--north.cms-content-header.vertical-align-items {
  display: block;
  background-color: #fff;
  margin-top: 0.3rem;
  .cms-content-header-tabs.cms-tabset-nav-primary {
    margin-top: -1rem;
  }
  // .breadcrumbs-wrapper * {
  //   display: inline !important;
  //   font-size: 1.2rem !important;
  // }
}

.breadcrumbs-wrapper .crumb.last {
  color: var(--indigo, #6610f2) !important;
}

.cms-content-header,
.toolbar.toolbar--north,
#Form_fileEditForm .nav-tabs,
#Form_fileSelectForm .nav-tabs {
  margin-top: 0 !important;
  * {
    color: #222 !important;
  }
  .ui-state-active,
  a.active {
    background-color: #6610f277 !important;
    color: #fff !important;
    border-color: var(--indigo, #6610f2) !important;
    * {
      color: #fff !important;
    }
    a {
      border-color: var(--indigo, #6610f2) !important;
    }
  }
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active:active,
.nav-tabs .nav-link.active:focus,
.nav-tabs .nav-link.active:hover {
  color: #fff !important;
  border-color: var(--indigo, #6610f2) !important;
}

form#Form_ItemEditForm .cms-content-header {
  margin-top: 0 !important;
  background-color: var(--light) !important;
}

form#Form_ItemEditForm .cms-content-header-info {
  background-color: #6610f215 !important;
  border-bottom: 1px solid #ced5e1;
  margin: -0.5rem -1.5rem 1.5rem !important;
  padding: 0.5rem 1.5rem !important;
}

form#Form_ItemEditForm {
  h1 {
    margin-top: 2em;
  }
}
