.cms-content-view {
  form#Form_EditForm {
    .ui-tabs {
      .ui-tabs-nav {
        float: none;
        border-bottom: 1px solid var(--grey, #566b8d);
      }
    }
  }
}

:not(.pages-controller-cms-content) .cms-content-header.north {
  background-color: #fff;
  flex-direction: row-reverse;
  padding-left: 1rem;
  .breadcrumbs-wrapper {
    margin-right: 1.5rem;
  }
  .breadcrumbs-wrapper,
  .breadcrumbs-wrapper * {
    text-align: right;
  }
}

.toolbar--north.cms-content-header.vertical-align-items {
  display: block;
  background-color: #fff;
  margin-top: 0.3rem;
  .cms-content-header-tabs.cms-tabset-nav-primary {
    margin-top: -1rem;
  }
  .breadcrumbs-wrapper * {
    display: inline !important;
    font-size: 1.2rem !important;
  }
}

.cms-content-header,
.toolbar.toolbar--north {
  background-color: #ffc10733 !important;
  margin-top: 0 !important;
  padding-top: 0.3rem;
  * {
    color: #222 !important;
  }
  .ui-state-active {
    background-color: var(--yellow, #ffc107) !important;
  }
}

form#Form_ItemEditForm .cms-content-header {
  margin-top: 0 !important;
  background-color: var(--light) !important;
}
