/**
 *  improve CMS header for when there are too many tabs
 */

.cms-content-header-info,
.toolbar.toolbar--north {
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  .toolbar__back-button {
    border: 1px solid var(--light, #f4f4f4);
  }
}
.cms-content-header .cms-content-header-info:hover {
  .toolbar__back-button {
    display: block !important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

.cms-content-header-tabs {
  max-width: calc(100% - 250px);
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary {
  float: right;
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary li {
  margin-left: 0.6154rem;
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary li a {
  border-bottom: 0.15385rem solid transparent;
}

.validationerror .panel--padded .ui-tabs-nav .tab-attention, .validationerror .toolbar--north .ui-tabs-nav .tab-attention {
  color: #cf3f00 !important;
  margin-left: 0;
  margin-top: 0;
  position: absolute;
  right: -5px;
  top: -5px;
  border-radius: 20px;
  width: 1.5em;
  text-align: center;
  /* vertical-align: baseline; */
  padding-top: 3px;
  background-color: #ffffffaa;
  display: block;
}
