/**
 *  improve CMS header for when there are too many tabs
 */

.cms-content-header-info,
.toolbar.toolbar--north {
  flex-wrap: nowrap;
  flex-direction: row-reverse;
  .toolbar__back-button {
    border: none !important;
  }
}
.cms-content-header .cms-content-header-info:hover {
  .toolbar__back-button {
    display: block !important;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }
}

.cms-content-view {
  form#Form_EditForm {
    .ui-tabs {
      .ui-tabs-nav {
        float: none;
        border-bottom: 1px solid var(--grey, #566b8d);
      }
    }
  }
}

.ui-tabs {
  .ui-tabs-tab {
    border-radius: 4px 4px 0 0 !important;
    a {
      border-radius: 4px 4px 0 0 !important;
    }
  }
}

.cms-content-header-tabs {
  max-width: calc(100% - 250px);
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary {
  float: right;
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary li {
  margin-left: 0.6154rem;
  a:hover {
    border-color: var(--indigo, #6610f2) !important;
  }
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary li a {
  border-bottom: 0.15385rem solid transparent;
}

.validationerror .panel--padded .ui-tabs-nav .tab-attention,
.validationerror .toolbar--north .ui-tabs-nav .tab-attention {
  border-radius: 0;
  color: var(--red) !important;
  display: block;
  margin-left: 0;
  margin-top: 0;
  padding-top: 3px;
  position: absolute;
  right: 0;
  text-align: center;
  border: 0;
  width: 100%;
  background-color: var(--red) !important;
  bottom: 0;
  height: 10px;
  text-indent: -9999px;
}
