@import "mixins";
@import "ui/model-search";

/*
hide image options so that they can't have captions,
can only be left aligned and the dimensions can't be changed.

#Form_fileInsertForm #Form_fileInsertForm_Caption_Holder,
#Form_fileInsertForm #Form_fileInsertForm_Alignment_Holder,
#Form_fileInsertForm #Form_fileInsertForm_Dimensions_Holder
*/

/**
 * field desciptions
 */

p.form__field-description.form-text {
  font-family: serif;
  font-size: 1rem;
  font-style: italic;
}

.form-group.field.htmleditor p.form__field-description.form-text,
.form-group.field.text p.form__field-description.form-text {
  text-align: right;
}

.form-group.field.numeric p.form__field-description.form-text {
  text-align: left;
}

/**
 * numeric field
 */
.field.numeric.text input {
  max-width: 12rem;
}


/**
 * date-time
 */
.field.text.datetime input {
  max-width: 16rem;
}

/**
 * checkbox set label
 */
.CompositeField .form-group.optionset.checkboxset > label {
  font-weight: bold;
  font-style: italic;
  color: #43536d;
}

/**
 * dropdown
 */
.form-group.field.dropdown {
  overflow: visible !important;
}


/**
 * field description
 */
.form__field-description,
.form__field-extra-label {
  display: block !important;
}


/**
 *
 */
/* .popover-option-set {
    min-width: 600px!important;
} */



/**
 * tree
 */

.jstree-apple .jstree-clicked {
  background-color: rgba(180, 204, 255, .67) !important;
}

.jstree-apple .jstree-hovered {
  background-color: rgba(180, 204, 255, .33) !important;
}

/**
 *  improve CMS header for when there are too many tabs
 */
.cms-content-header-tabs {
  max-width: calc(100% - 250px);
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary {
  float: right;
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary li {
  margin-left: .6154rem;
}

.cms-content-header-tabs .ui-tabs-nav.cms-tabset-nav-primary li a {
  border-bottom: .15385rem solid transparent;
}

@include lg-screen {
  /**
     * large gridfield
     */
  fieldset.grid-field.ss-gridfield {
    margin-bottom: 2rem;
    padding: 10px !important;
    border: 1px solid rgba(219, 224, 233, 1);
    border-radius: .2rem;
    background-color: #f1f3f6 !important;
  }

  fieldset.grid-field.ss-gridfield .toolbar--content {
    margin-top: 0 !important;
    margin-right: 0;
    margin-left: 0;
    background-color: rgba(219, 224, 233, .3) !important;
  }

  fieldset.grid-field.ss-gridfield .toolbar--content::after {
    display: table;
    clear: both;
    content: "";
  }

  fieldset.grid-field.ss-gridfield h2 {
    font-size: 1.67rem;
    font-weight: bold;
    float: left;
    padding-top: 1.5rem !important;
    text-align: center !important;
    color: #0071c4 !important;
  }

  fieldset.grid-field.ss-gridfield .grid-field__title-row .pull-xs-right .pagination-records-number {
    display: none;
  }

  fieldset.grid-field.ss-gridfield table {
    min-width: 100% !important;
    margin-right: 0 !important;
    margin-left: 0 !important;
  }


  fieldset.grid-field.ss-gridfield .sortablerowsheading {
    padding-top: .4rem !important;
    padding-bottom: .4rem !important;
    border-top: 1px solid #fff !important;
  }

  fieldset.grid-field.ss-gridfield tfoot td {
    line-height: 1 !important;
    padding-top: 1rem !important;
    padding-bottom: 0 !important;
  }


  fieldset.grid-field.ss-gridfield .sortable-header th,
  fieldset.grid-field.ss-gridfield .sortablerowsheading {
    line-height: 1 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    background-color: rgba(219, 224, 233, .7);
  }

  fieldset.grid-field.ss-gridfield .sortablerowsheading {
    padding-top: .5rem !important;
    padding-bottom: .5rem !important;
    background-color: rgba(219, 224, 233, .3) !important;
  }

  fieldset.grid-field.ss-gridfield .sortablerowsheading * {
    color: rgb(86, 107, 141) !important;
  }
}


// for https://github.com/colymba/GridFieldBulkEditingTools
.bulkManagerOptions.form--no-dividers label.form-check-label input {
  margin-left: 3px;
}

.bulkManagerOptions.form--no-dividers label.form-check-label {
  display: block;
  padding-bottom: 35px;
}

.toolbar--content.ss-gridfield-buttonrow.ss-gridfield-buttonrow-before {
  position: relative;
  z-index: 999;
  margin-left: 41px;
  margin-top: -14px;
}

#Form_ItemEditForm_error {
    background-color: #da273b;
    color: white;
}


#Form_ItemEditForm_error.alert.alert-success {
    background-color: #e9f6e9;
    border-color: #3fa142;
    color: #222;
}
